{% extends 'base.html' %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block content %}
    <div class="container mt-5">
        {% if messages %}
            <div class="messages mb-4">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <h2 class="text-center mb-4 custom-title">Сброс пароля</h2>
        <form method="POST" class="registration-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="password">Введите новый пароль</label>
                <input type="password" id="password" name="password" class="registration-input" placeholder="Введите новый пароль" required>
            </div>
            <button type="submit" class="registration-button">Сбросить пароль</button>
        </form>
    </div>
{% endblock %}
