{% extends 'base.html' %}
{% load static %}

{% block title %}
    Про аниме
{% endblock %}

{% block content %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                        <a href="{% url 'category_list' %}">Categories</a>
                        <span>{{ animes.category }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" data-setbg="{{ animes.get_first_photo }}">
                            <div class="comment"><i class="fa fa-comments"></i> 11</div>
                            <div class="view"><i class="fa fa-eye"></i>{{ animes.views_count }}</div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>{{ animes.title }}</h3>
                            </div>
                            <p>{{ animes.descr }}</p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Type:</span> {{ animes.type }}</li>
                                            <li><span>Studios:</span> {{ animes.studio }}</li>
                                            <li><span>Date aired:</span>{{ animes.date }}</li>
                                            <li><span>Status:</span> {{ animes.status }}</li>
                                            <li><span>Genre:</span>{{ animes.genre }}</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Duration:</span> {{ animes.duration }} min/ep</li>
                                            <li><span>Quality:</span> {{ animes.quality }}</li>
                                            <li><span>Views:</span>{{ animes.views_count }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                                <a href="{% url 'like_anime' anime_slug=animes.slug %}" class="follow-btn">
                                    <i class="fa {% if animes in request.user.liked_anime.all %}fa-heart{% else %}fa-heart-o{% endif %}"></i>
                                    {% if animes in request.user.liked_anime.all %} Unfollow {% else %}
                                        Follow {% endif %}
                                </a>
                                <a href="{% url 'anime_watching' %}" class="watch-btn"><span>Watch Now</span> <i
                                        class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="anime__details__review">
                            <div class="section-title">
                                <h5>Reviews</h5>
                            </div>
                            <div class="anime__review__item">
                                {% for comment in comments %}
                                    <div class="anime__review__item">
                                        <div class="anime__review__item__pic">
                                            {% if comment.user.photo %}
                                                <img src="{{ comment.user.photo.url }}" alt="">
                                            {% else %}
                                                <img src="{% static 'img/blog/details/comment-2.png' %}" alt="">
                                            {% endif %}
                                        </div>
                                        <div class="anime__review__item__text">
                                            <div class="meta">
                                                <h5>{{ comment.user.username }}</h5>
                                                <span>- {{ comment.created_at }}</span>
                                            </div>
                                            <p>{{ comment.content }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="anime__details__form">
                            <div class="section-title">
                                <h5>Your Comment</h5>
                            </div>
                            <form action="{% url 'add_anime_comment' animes.slug %}" method="POST">
                                {% csrf_token %}
                                <textarea name="content" placeholder="Your Comment"></textarea>
                                <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="anime__details__sidebar">
                            <div class="section-title">
                                <h5>you might like...</h5>
                            </div>
                            {% for related in related_anime %}
                            <div class="product__sidebar__view__item set-bg"
                                 data-setbg="{{ related.get_first_photo }}">
                                <div class="ep">18/18</div>
                                <div class="view"><i class="fa fa-eye"></i>{{ related.views_count }}</div>
                                <h5><a href="{% url 'anime_details_view' slug=related.slug %}">{{ related.title }}</a></h5>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Anime Section End -->
{% endblock %}