{% extends 'base.html' %}

{% load static %}

{% block title %}
    Детализация блока
{% endblock %}

{% block content %}
    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__details__title">
                        <h6>Action, Magic <span>- March 08, 2020</span></h6>
                        <h2>Anime for Beginners: 20 Pieces of Essential Viewing</h2>
                        <div class="blog__details__social">
                            <a href="#" class="facebook"><i class="fa fa-facebook-square"></i> Facebook</a>
                            <a href="#" class="pinterest"><i class="fa fa-pinterest"></i> Pinterest</a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin-square"></i> Linkedin</a>
                            <a href="#" class="twitter"><i class="fa fa-twitter-square"></i> Twitter</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="blog__details__pic">
                        <img src="{% static 'img/blog/details/blog-details-pic.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__text">
                            <p>As a result the last couple of eps haven’t been super exciting for me, because they’ve
                                been more like settling into a familiar and comfortable routine.  We’re seeing character
                                growth here but it’s subtle (apart from Shouyou, arguably).  I mean, Tobio being an
                                asshole is nothing new – it’s kind of the foundation of his entire character arc. 
                                Confronting whether his being an asshole is a problem for the Crows this directly is a
                                bit of an evolution, and probably an overdue one at that, but the overall dynamic with
                                Kageyama is basically unchanged.</p>
                        </div>
                        <div class="blog__details__item__text">
                            <h4>{{ blog.title }}</h4>
                            <img src="{{ blog.get_first_photo }}" alt="">
                            <p>{{ blog.descr }}</p>
                        </div>
                        <div class="blog__details__tags">
                            {% for category in categories %}
                                <a href="{% url 'category_list' %}">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                        <div class="blog__details__btns">
                            <div class="row">
                                <div class="col-lg-6">
                                    {% if previous_blog %}
                                        <div class="blog__details__btns__item">
                                            <h5>
                                                <a href="{% url 'blog_details' previous_blog.slug %}">
                                                    <span class="arrow_left"></span> {{ previous_blog.title }}
                                                </a>
                                            </h5>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-lg-6">
                                    {% if next_blog %}
                                        <div class="blog__details__btns__item next__btn">
                                            <h5>
                                                <a href="{% url 'blog_details' next_blog.slug %}">
                                                    {{ next_blog.title }} <span class="arrow_right"></span>
                                                </a>
                                            </h5>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="blog__details__comment">
                            <h4>{{ blog.comments.count }} Comments</h4>
                            {% for comment in comments %}
                                <div class="anime__review__item">
                                    <div class="anime__review__item__pic">
                                        {% if comment.user.photo %}
                                            <img src="{{ comment.user.photo.url }}" alt="">
                                        {% else %}
                                            <img src="{% static 'img/blog/details/comment-2.png' %}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="anime__review__item__text">
                                        <div class="meta">
                                            <h5>{{ comment.user.username }}</h5>
                                            <span>- {{ comment.created_at }}</span>
                                        </div>
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </div>
                            {% endfor %}

                            <!-- Comment Form -->
                            <div class="anime__details__form">
                                <div class="section-title">
                                    <h5>Your Comment</h5>
                                </div>
                                <form action="{% url 'add_blog_comment' blog.slug %}" method="POST">
                                    {% csrf_token %}
                                    <textarea name="content" placeholder="Your Comment"></textarea>
                                    <button type="submit" class="submit-comment-btn"><i
                                            class="fa fa-location-arrow"></i> Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Blog Details Section End -->
{% endblock %}